<div *ngIf="_dataService.cart.length > 0">
    <p>check out your order</p>
    <form (ngSubmit)="updateCart($event)">
        <table> 
            <tr>
                <th>Artist</th>
                <th>Title</th>
                <th>Price</th>
                <th>Quantity</th>
            </tr>
            <tr *ngFor="let cartItem of _dataService.cart;  let i = index">
                <td>{{cartItem.Artist}}</td>
                <td>{{cartItem.Title}}</td>
                <td>&euro; {{cartItem.Price.toFixed(2)}}</td>
                <td>
                    <div><input value="{{cartItem.Quantity}}" name="cartItem-{{cartItem.AlbumId}}"></div>
                </td>
            </tr>
        </table>
        <p>Your bill: &euro; {{bill.toFixed(2)}}</p>
        <div id="cart-buttons">
            <button type="submit">update cart</button>
            <button (click)="clearCart($event)">clear cart</button>
        </div>
    </form>
    <div *ngIf="messages.length > 0">
        <p>invalid values for <strong>{{messages.join(", ")}}</strong></p>
        
    </div>
   
</div>


<div *ngIf="_dataService.items === 0">
    <p>your cart is empty</p>
</div>


